<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Remove background tools">
    <meta property="og:url" content="https://rembg.domcloud.dev/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Remove Background">
    <meta property="og:description" content="Remove background tools">

    <meta property="og:image"
        content="https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/rembg.domcloud.dev/Remove%20Background/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F56188dc2-e3c3-4ce5-a8b1-1323953e37b9.jpg%3Ftoken%3DhOY-wLL-tV2Wb6eqlpzb3hUOqYMZbXQ3az2flBDqaSs%26height%3D800%26width%3D1200%26expires%3D33251249770/og.png">

    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="rembg.domcloud.dev">
    <meta property="twitter:url" content="https://rembg.domcloud.dev/">
    <meta name="twitter:title" content="Remove Background">
    <meta name="twitter:description" content="Remove background tools">
    <meta name="twitter:image"
        content="https://ogcdn.net/e4b8c678-7bd5-445d-ba03-bfaad510c686/v4/rembg.domcloud.dev/Remove%20Background/https%3A%2F%2Fopengraph.b-cdn.net%2Fproduction%2Fimages%2F56188dc2-e3c3-4ce5-a8b1-1323953e37b9.jpg%3Ftoken%3DhOY-wLL-tV2Wb6eqlpzb3hUOqYMZbXQ3az2flBDqaSs%26height%3D800%26width%3D1200%26expires%3D33251249770/og.png">
    {% if title %}
    <title>{{ title }} - Remove Background</title>
    {% else %}
    <title>Remove Background</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='src/dist/css/output.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='src/css/styles.css') }}" />
    <script defer data-domain="rembg.domcloud.dev" src="https://plausible.io/js/script.js"></script>
</head>

<body>
    {% block content %} {% endblock %}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.14.1/dist/cdn.min.js"></script>
    <script src="{{url_for('static', filename='script/javascript.js')}}"></script>
</body>

</html>